body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #422301;
    color: #f9f7f8;
    padding-left: 6cm;
    padding-right: 6cm;
}

/* Section One: Header */

.section-one {
    padding-top: 48px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f9f7f8;
}

.logo {
    font-size: 24px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/* Section One: Content-one */

.content-one {
    display: flex;
    justify-content: space-around;
}

.container-one {
    display: flex;
    flex-direction: column;
}
