body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2B2322;
    color: #D0BDAD;
    padding-left: 6cm;
    padding-right: 6cm;
}

/* Section One: Header */

.section-one {
    padding-top: 48px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #D0BDADDE;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/* Section One: Content-one */

.content-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-one {
    display: flex;
    flex-direction: column;
}

.header-image {
    max-width: 50%;
}

.title-one {
    font-size: 48px;
    font-weight: bolder;
}

.subtext-one {
    font-size: 18px;
    color: #D0BDADDE;
}