body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #422301;
    color: #f9f7f8;
    padding-left: 6cm;
    padding-right: 6cm;
}

.section-one {
    padding-top: 48px;
}

.header {
    display: flex;
    align-items: center;
    /* justify-content: center; */

    /* padding: 24px 0; */
}

.logo {
    /* margin-right: 30%; */
    font-size: 24px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/* content-one */

.content-one {
    display: flex;
    justify-content: space-around;
}

.container-one {
    display: flex;
    flex-direction: column;
}
