
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
}

.logo {
    margin-right: auto;
}

ul{
    list-style: none;
    display: flex;
    gap: 1em;
}