body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2B2322;
    color: #D0BDAD;
}

.section-one,
.section-four {
    padding-left: 38vh;
    padding-right: 38vh;
}

/* Section One: Header */

.section-one {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 9em;
    padding-bottom: 9em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #D0BDADDE;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    font-size: 18px;
}

/* Section One: Content-one */

.content-one {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.container-one {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header-image {
    max-width: 50%;
}

.title-one {
    font-size: 48px;
    font-weight: bolder;
}

.subtext-one {
    font-size: 18px;
    color: #D0BDADDE;
}

button {
    padding: 9px 34px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bolder;
    border: 0;
}

.button-one {
    color: #D0BDAD;
    background-color: #A56754;
}

/* Section Two */

.section-two {
    display: flex;
    flex-direction: column;
    gap: 3em;
    padding-top: 3em;
    align-items: center;
    justify-content: center;
    background-color: #D0BDAD;
    color: #2B2322;
}

.title-two {
    font-size: 36px;
    font-weight: bolder;
}

.picture-row {
    display: flex;
}

.pic-block {
    display: flex;
    flex-direction: column;
}

.pic {
    width: 180px; 
    height: 180px; 
    object-fit: cover;
    object-position: 25% 25%; 
}